.navbar-nav {
  font-size: 1.275em;

  .nav-link {
    text-transform: uppercase;
    padding: 5px 20px!important;
    border-radius: $border-radius;
  }

  .navbar-light & {
    .nav-item {
      &.active {
        .nav-link {
          background: rgba(0,0,0,0.1);
          border: 1px solid $divider-color;
        }
      }
    }

    .nav-link {
      color: $menu-link-color;

      &:hover {
        color: $menu-link-hover-color;
      }
    }
  }
}

.legal-menu {
  li {
    display: inline-block;
    line-height: 1.1;
    padding: 0 6px;

    + li {
      border-left: 1px solid $primary;
    }
  }
}