.stage {
  background: $white;
  padding: $grid-gutter-width / 2;
  display: block;
  margin: 0 auto;

  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      width: $container-max-width + $grid-gutter-width;
    }
  }

  header {
    padding: $grid-gutter-width / 2 0;
  }
}
