aside {
  margin-top: $grid-gutter-width;

  section {
    margin: $grid-gutter-width 0;
  }

  h4 {
    font-weight: 400;
    line-height: 1.75;
    border-bottom: 1px solid $divider-color;
  }

  .aside-teaser {
    border: 1px solid $divider-color;
    background: rgba(120, 120, 120, 0.2);
    padding: 12px;

    > figure {
      margin: -12px -12px 0;

      img {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        box-shadow: none;
      }

      figcaption {
        color: #333;
        padding: 12px;
      }
    }
  }
}