.section__form {
  form {
    .form-group {
      margin-bottom: 0;

      label {
        line-height: 30px;
      }

      input[type="text"],
      input[type="email"] {
        height: 30px;
        padding: 0 10px;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        border-radius: $border-radius;
        box-shadow: inset 0 0 2px $black;
        border: 0;
      }
    }
  }

  label.field__required {
    &::after {
      content: '*';
    }
  }
}