.page-content {
  blockquote {
    font-family: $font-family-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 0 22%;
    font-style: italic;

     &::before {
       content: '"';
     }

     &::after {
       content: '" - ' attr(data-source) ;
     }
  }

  .text-light {
    color: $text-light-color !important;
  }

  .section-header {
    h2, .h2, h3, .h3 {
      text-transform: uppercase;
    }
  }

  .section__form,
  .section__misc {
    .section-header {
      h2, .h2 {
        line-height: 2.5;
        border-bottom: 1px solid $divider-color;

      }
    }
  }

  figure {
    &.figure__inline {
      float: left;
      margin-right: 1rem;
      margin-bottom: 0;

      & + p {
        margin-top: -1em  ;
      }
    }

    img {
      box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
      border-radius: 2px;
    }

    figcaption {
      color: $text-light-color;
    }
  }

  hr {
    &.section-divider {
      position: relative;
      left: - $divider-offset;
      color: $divider-color;
      background: $divider-color;

      @each $breakpoint, $container-max-width in $container-max-widths {
        @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
          width: $container-max-width + $divider-offset;
        }
      }
    }

    &.quote-divider {
      width: 33%;
      color: $divider-color;
      background: $divider-color;
    }
  }

  .error-summary {
    color: $red;
    display: none;

    p {
      margin-bottom: 0;
    }
  }

  .link-intern {
    &::before {
      content: '>';
      margin-right: .25em;
      color: $primary;
      font-weight: 700;
    }
  }

  svg.fa-phone {
    transform: rotate(100deg);
  }

  span.copyright {
    font-size: 18px;
  }
}
