// exozet Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Use the variables in this file to overwrite bootstrap defaults

// Color system

$green: #739024 !default;
$primary: $green !default;

$silver: #D8D8D8 !default;
$body-bg: $silver;

$light-silver: #C3C0C5;
$divider-color: $light-silver;

$dark-silver: #333333;
$menu-link-color: $dark-silver;
$menu-link-hover-color: lighten($menu-link-color, 20%);

$text-color: $dark-silver;
$text-light-color: #999;

// Typography
$font-family-sans-serif: "titillium", sans-serif !default;
$font-family-serif: "merriweather", serif !default;
$headings-font-weight: 700 !default;

// Distances

$divider-offset: 120px;